@charset "utf-8";
html{
	font: 11px '宋体';
}
a {
	color: #000;
}
.top {
	background-color: #F7F7F7;
	height: 26px;
	border-bottom: 1px solid #D8D8D8;
}
.top_page {
	width:  970px;
	height: 26px;
	margin: 0 auto;
}
.top_page_l {
	line-height: 26px;
}
.top_page_l a {
	list-style: none;
	color: red;
}
.top_page_login{
    position: absolute;
    top: 6px;
    left: 220px;
}
.top_page_registe{
    position: absolute;
    top: 6px;
    left: 250px;
}
.top_page_r ul li {
	line-height: 26px;
	float: left;
	padding-right: 10px;
}

.logo {
	width: 970px;
	height: 98px;
	margin: 0 auto;
}
.logo_l{
	position: absolute;
	top: 50px;
}

.logo_r {
	width: 530px;
	height: 42px;
	border: 1px solid #C9C9C9;
	margin-top: 29px;
}
.logo_r_content{
	margin: 5px 5px 5px 4px;
}
.logo_r_searche {
	width: 418px;
	height: 28px;
	border: 1px solid #C9C9C9;
	color:#999999;
}
.logo_r_btn {
	width: 99px;
	height: 30px;
	color: white;
	background-color: #2F70D0;
}
.nav {
	width: 970px;
	height: 25px;
	margin: 0 auto;
	border-bottom: 2px solid #0266A3;
}
.nav li {
	padding: 0 15px 0 15px;
	font-size: 14px;
	line-height: 26px;
	float: left;
	font-weight: bold;
}
.nav li a {
	color: #0266A3;
}
.nav li:hover {
	background-color: #0266A3;
}
.nav li:hover a{
	color: white;
}
.banner {
	width: 970px;
	height: 210px;
	margin: 0 auto;
	margin-top: 10px;
}
.subNav {
	width: 200px;
	height: 210px;
	margin-right: 11px;
}
.ad {
	width: 520px;
	height: 210px;
	position: absolute;
	left: 538px;
}
.ad-img{
	position: absolute;
	left: 139px;
	height:210px;
	width: 520px;
}
.message {
	width: 230px;
	height: 210px;
}
.subNav h2 {
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-color: #0266A3;
	color: white;
}
.subNav ul {
	background: #EBF0F6;
	height: 180px;
}

.subNav li {
	font-size: 15px;
	padding-top: 11px;
	
}

.subNav li:hover{
	background: orange;
	color: white;
}
.subNav li:hover a{
	color: white;
}
.subNa a:hover li{
	background: orange;
	color: white; 
}

.message_top {
	height: 95px;
	border: 1px solid #DDDDDD;
	background: #F7FAFF;
	margin-bottom: 21px;
}

.message_top .fw {
	padding: 7px 0 0 0;
    font-weight: bold;
    text-align: center;
}
.message_top .cheap {
    text-align: center;
    width: 230px;
    margin-top: 25px;
}
.message_bottom {
	height: 92px;
	background: #F7F7F7;
}
.message_bottom .findMessage {
	text-align: center;
	font-size: 14px;
	padding-top: 11px;
}
.message_bottom .phone {
	margin-top: 10px;
	text-align: center;
	color: #3F9CE0;
}

.material {
	width: 950px;
	height: 34px;
	border-top: 2px solid #C3D7E4;
	margin: 0 auto;
	margin-top: 14px;
	line-height: 34px;
	background: #ECF1F7;
	font-weight: bold;
	padding-left: 20px;
}
.product {
	width: 970px;
	height: 345px;
	margin: 0 auto;
	margin-top: 12px;
}
.product .product_l{
	width: 738px;
	height: 345px;
	border: 1px solid #D8D8D8;
}
.product .product_l_top {
	height: 155px;
	width: 712px;
	padding: 17px 0 0 26px;
}
.product .p_l_t_product1 {
	width: 350px;
	height: 146px;
}
.product .buy {
	width: 99px;
	height: 143px;
}
.product .buy .img {
	height: 100px;
	border: 1px solid #CACACA;
}

.product .buy .btn {
	width: 99px;
	height: 26px;
	background-color: #0A84E3;
	color: white;
	margin-top: 15px;
}
.product .explain {
	width: 250px;
	height: 143px
}
.product .explain .goodWife{
	font-size: 14px;
	padding: 10px 0 0 10px;

}
.product .explain .auto {
	color: #863E01;
	padding: 13px 0 0 15px;
}
.product .explain .money {
	padding: 23px 0 0 11px;
}
.product .explain .money span{
	color: red;
}
.product .explain .money s {
	text-decoration: line-through;
}
.product .explain .buyed {
	font-size: 14px;
	padding: 28px 0 0 11px;
}
.product .product_r {
	width: 220px;
	height:  345px;
	border:1px solid #E0E6F0;
}
.product_l_line {
	margin: 0 4px 0 4px;
	border-top: 1px solid #CCC;
}
.product_r h2 {
	height: 28px;
	line-height: 28px;
	padding-left: 15px;
	border-bottom: 1px solid #E0E6F0;
}
.product_r ul {
	padding-top: 11px;
}
.product_r li {
	line-height: 23px;
	padding-left: 26px;
}
.div {
	width: 970px;
	background-color: teal;
	margin: 0 auto;
}
.div img{
    width: 970px;
    margin: 0 auto;
}
.link {
	width: 970px;
	height: 60px;
	margin: 0 auto;
	margin-top: 11px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 3px solid #0A7EC3;
	color: #666666;
}
.link_p {
	margin-top: 30px;
	text-align: center;
}

.aboultMe {
	height: 91px;
	width: 970px;
	margin: 0 auto;
}
.aboultMe p {
	margin-top: 14px;
	text-align: center;
}